body {
    background-color: rgb(251 235 204);
    font-family: 'Courier New', monospace;
    background-image: url('./retro.webp');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#game-container { display: none; }
#title {
    background-color: black;
    font-size: 42px;
    font-weight: 600;
    color: #fff;
    width: 350px;
    padding: 15px;
    margin: auto;
    margin-top: 45px;
    rotate: -10deg;
}
.game-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
}
.loading-wheel {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: center / 100% no-repeat url("./Spinner.gif");
}
.menu {
    background-color: #000;
    color: #fff;
    padding: 40px;
    z-index: 99;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    text-align: center;
    border-radius: 55px;
}
.menu p { font-size: 1.5rem; }
.menu button { width: 90%; height: 100px; margin: auto; margin-top: 15px; font-size: 3rem; border: 2px solid; }
.strike-menu { width: 110%; rotate: -5deg; }
#code-dialog.show,
#player-dialog.show,
#welcome-dialog.show,
#question-dialog.show { visibility: visible; opacity: 1; }
#player-dialog #player-input { width: 90%; height: 200px; margin: auto; text-align: center; font-size: 7rem; display: block; }
#question-dialog #answer-input { width: 90%; margin: auto; text-align: center; font-size: 3rem; display: block; }
#code-dialog #code-input { height: 50px; }
.input-error { border: 2px solid red; }
#toast-msg {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    font-size: 17px;
}
#toast-msg.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@media all and (max-width: 1024px) {
    h2 { font-size: 5rem; }
    h3 { font-size: 3.75rem; }
    h4 { font-size: 3rem; }
    p { font-size: 32px; }
    .menu { width: 80%; border-radius: 30px }
    .menu .close-btn { height: 50px; width: 50px; font-size: 40px; border-radius: 15px; }
    #player-dialog .btn,
    #player-dialog input { width: 90%; font-size: 40px; margin-top: 15px; border: 2px solid; border-radius: 15px; }
}
#bracket th,
#bracket td { text-align: center; vertical-align: middle; height: 50px; border: none; position: relative; }
.player {
    width: 80%;
    padding: 15px;
    background-color: #000;
    border-radius: 15px;
    display: block;
    font-weight: 600;
    color: #fff;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
#audience {
    display: flex;
    align-items: center;
    justify-content: center;
}
.audience-member {
    padding: 15px;
    background-color: #000;
    border-radius: 15px;
    display: inline-block;
    font-weight: 600;
    color: #fff;
    margin: 5px;
}
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
#bracket .topNrightLine { border-top: 2px solid #000; border-right: 2px solid #000; }
#bracket .topNleftLine { border-top: 2px solid #000; border-left: 2px solid #000; }
#bracket .bottomNrightLine { border-bottom: 2px solid #000; border-right: 2px solid #000; }
#bracket .bottomNleftLine { border-bottom: 2px solid #000; border-left: 2px solid #000; }
#bracket .rightLine { border-right: 2px solid #000; }
#bracket .leftLine { border-left: 2px solid #000; }
#bracket .bottomLine { border-bottom: 2px solid #000; }