body {
    background-color: rgb(251 235 204);
    font-family: 'Courier New', monospace;
    background-image: url('./retro.webp');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.table { table-layout: fixed; }
#game-container { display: none; }
#title {
    background-color: #333;
    font-size: 42px;
    font-weight: 600;
    color: #333;
    width: 230px;
    padding: 15px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    rotate: -10deg;
    -webkit-text-stroke: 2px #fbebcc;
    border-radius: 15px;
}
.typed {
    overflow: hidden;
    white-space: nowrap;
    animation: 
    typing 1s steps(20, end) forwards;
    width: 0;
}
#bracket-code {
    position: absolute;
    top: 30px;
    right: 0;
    width: 170px;
    background-color: #df5244;
    color: #fbebcc;
    font-size: 40px;
    text-align: center;
}
.prompt-container {
    text-align: center;
    width: fit-content;
    margin: auto;
    font-weight: 600;
    color: #fbebcc;
    padding: 15px;
    background: rgb(51, 51, 51);
    border-radius: 30px;
}
.prompt-container p { font-size: 30px; }
.game-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
}
.loading-wheel {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: center / 100% no-repeat url("./Spinner.gif");
}
.menu {
    background-color: #333;
    color: #fbebcc;
    padding: 40px;
    z-index: 99;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    text-align: center;
    border-radius: 55px;
}
#player-code-container ,
#code-copy-container { display: none; }
.menu p { font-size: 1.5rem; }
.menu input,
.menu textarea { background-color: #fbebcc; }
.menu button { width: 85%; height: 100px; margin: auto; margin-top: 15px; font-size: 3rem; border: 2px solid; }
.strike-menu { width: 110%; rotate: -5deg; }
.btn-outline-success { color: #70cdc9; border-color: #70cdc9; }
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:disabled,
.btn-outline-success:not(:disabled):not(.disabled):active { color: #333; background-color: #70cdc9; border-color: #70cdc9; box-shadow: 0 0 0 .2rem #70cdc9; }
.btn-outline-light { color: #fbebcc; border-color: #fbebcc; }
.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:disabled,
.btn-outline-light:not(:disabled):not(.disabled):active { color: #333; background-color: #fbebcc; border-color: #fbebcc; box-shadow: 0 0 0 .2rem #fbebcc; }
.btn-outline-dark { color: #f27d59; border-color: #f27d59; }
.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:disabled,
.btn-outline-dark:not(:disabled):not(.disabled):active { color: #333; background-color: #f27d59; border-color: #f27d59; box-shadow: 0 0 0 .2rem #f27d59; }
.btn-warning { color: #333; background-color: #fcc978; border-color: #fcc978; }
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:disabled,
.btn-warning:not(:disabled):not(.disabled):active { color: #333; background-color: #fcc978; border-color: #fcc978; box-shadow: 0 0 0 .2rem #fcc978; }
#code-dialog.show,
#player-dialog.show,
#player-code-dialog.show,
#code-copy-container.show,
#player-code-container.show,
#welcome-dialog.show,
#prompt-dialog.show,
#voting-dialog.show { visibility: visible; opacity: 1; border: 2px solid #fcc978; }
#player-dialog #player-input,
#player-code-dialog #player-code { width: 85%; height: 200px; margin: auto; text-align: center; font-size: 7rem; display: block; }
#prompt-dialog #answer-input { width: 90%; margin: auto; text-align: center; font-size: 3rem; display: block; }
#code-dialog #code-input { height: 50px; }
.input-error { border: 2px solid red; }
.copy {
    font-size: 22px;
    margin-left: 5px;
    position: relative;
    top: -.25em;
    cursor: pointer;
    filter: brightness(0.4);
    display: inline-block;
}
.copy .tooltip {
    visibility: hidden;
    width: 140px;
    background-color: #333;
    color: #fbebcc;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
.copy .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}
.copy:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
#toast-msg {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fbebcc;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    font-size: 17px;
}
#toast-msg.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
@media all and (max-width: 1024px) {
    body { background-image: none; }
    h2 { font-size: 5rem; }
    h3 { font-size: 3.75rem; }
    h4 { font-size: 3rem; }
    p { font-size: 32px; }
    .menu { width: 80%; border-radius: 30px }
    .menu .close-btn { height: 50px; width: 50px; font-size: 40px; border-radius: 15px; }
    #player-dialog .btn,
    #player-dialog input { width: 90%; font-size: 40px; margin-top: 15px; border: 2px solid; border-radius: 15px; }
    #audience { border: none; }
}
#bracket th,
#bracket td { text-align: center; vertical-align: middle; height: 50px; border: none; position: relative; width: 14%; }
.player {
    width: 90%;
    padding: 10px;
    background-color: #333;
    border-radius: 12px;
    display: block;
    font-weight: 600;
    font-size: 20px;
    color: #fbebcc;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.player-highlight { border: 3px solid #70cdc9; color: #70cdc9; }
.votes {
    position: absolute;
    top: -30px;
    width: 100%;
}
.vote {
    background: url('./thumbs-up.png');
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-left: 2px;
    margin-right: 2px;
}
.loser {
    background-color: #fbebcc;
    border: 2px solid #333333;
    color: #333;
}
.loser-slash {
    border-top: 2px solid #df5244;
    width: 85%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#audience-container {
    width: fit-content;
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    -webkit-text-stroke: 2px #333;
    color: #fbebcc;
    margin-bottom: 15px;
}
#audience {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    flex-wrap: wrap;
    border-radius: 15px;
}
.audience-member {
    padding: 10px;
    background-color: #333;
    border-radius: 12px;
    display: inline-block;
    font-weight: 600;
    color: #fbebcc;
    margin: 5px;
    -webkit-text-stroke: 0;
    font-size: 18px;
}
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
#bracket .topNrightLine { border-top: 2px solid #333; border-right: 2px solid #333; }
#bracket .topNleftLine { border-top: 2px solid #333; border-left: 2px solid #333; }
#bracket .bottomNrightLine { border-bottom: 2px solid #333; border-right: 2px solid #333; }
#bracket .bottomNleftLine { border-bottom: 2px solid #333; border-left: 2px solid #333; }
#bracket .rightLine { border-right: 2px solid #333; }
#bracket .leftLine { border-left: 2px solid #333; }
#bracket .bottomLine { border-bottom: 2px solid #333; }